.idea/
__pycache__/
new.db
summarization/model_clean_save_torch
summarization/model_trained_save_torch
summarization/__pycache__/
logic.txt
config.py
gpt_key.txt
audio_recognition/__pycache__/
Datasets_Generator/*
!Datasets_Generator/new_dataset.py
!Datasets_Generator/dataset_processing.py
!Datasets_Generator/model_train.py
!Datasets_Generator/model_prediction.py
!Datasets_Generator/data_parsing.py
!Datasets_Generator/model_test.py
